


.centered-textbox {
  display : flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}

body {
  @extend .centered-textbox;
  background : lighten(gray, 10%);
  & > * {
    margin : 10px;
  }
}
